@use "../../../styles/constants.scss" as vars;

.ant-radio-wrapper.radioCustomStyle {
  padding: 8px 12px;
  border: vars.$border;
  border-radius: vars.$border-radius + vars.$border-radius;

  &:hover, &.ant-radio-wrapper-checked {
    border-color: vars.$blue;
  }

}