@use "../../../styles/constants.scss" as vars;

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.description {
  font-size: 16px;
  margin-bottom: 8px;
}

.meta {

  font-size: 12px;
  font-weight: 700;

  span:last-child {
    margin-left: 8px;
  }

  & .active {
    color: vars.$green;
  }

  & .notActive {
    color: vars.$red;
  }

  .EASY {
    color: vars.$green;
  }
  
  .MEDIUM {
    color: vars.$orange;
  }

  .HARD {
    color: vars.$red;
  }
}