@use "../../styles/constants.scss" as vars;

.authCard {
  width: 400px;
  box-shadow: vars.$box-shadow;

  .authType {
    display: inline-block;

    & + .authType {
      margin-left: 10px;
    }
  }

  .submitButton {
    margin-top: 8px;
    width: 100%;
  }

  .authError {
    color: vars.$red;
    font-size: 16px;
  }
}