@use "./styles/constants.scss" as vars;

ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;

  .logo {
    height: 18px;
  }

  a {
    color: vars.$text-main-color;
    font-size: 16px;
    display: flex;
    padding: 6px 12px;
    align-items: center;
    text-decoration: none;
  }
}

a {
  color: vars.$text-main-color;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
}