@use "../../styles/constants.scss" as vars;

.taskPage {

  h3 {
    margin: 0 0 8px;
  }

  .subtitleInfo {
    span + span {
      margin-left: 10px;
    }

    & > span { 
      font-size: 16px;
    }

    .infoDescription {
      font-size: 12px;
      color: vars.$grey;
    }
  }

  .description {
    font-size: 20px;
    margin: 20px 0;
  }
}